Tuple Write Up

Tuple are used to store multiple values in single variable.

Tuple is one of 4 buit-in data typea in python used to store collections of data, the order 3 are list, set,and Dictionary, all with different qualities and usage.
m
A tuple is a collection which is ordered and unchangeable.

Tuple are written with round brackets.

In [1]:
# Create a tuple

a=('mango','banana','cherry')
print(a)

('mango', 'banana', 'cherry')

In [ ]:
#abcde

$Types:$

* Tuple items-Data types:
    
Tuples items can be of any data types

In [9]:
tuple1=('apple','cherry',9,3,True,False)
print(type(tuple1))

<class 'tuple'>

$len:$

In [5]:
len(tuple1)

6

$Max:$

In [10]:
tuple1=(34,True,40,56.7)
print(max(tuple1))

56.7

$Min:$

In [11]:
print(min(tuple1))

True

$ In-operator$

In [15]:
tuple1=(1,2,3,4)
print(5 in tuple1)

False

In [16]:
tuple1 = (1, 2, 3, 4)
print(2 in tuple1)

True

In [22]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

$index$

In [19]:
# Print the second item in the tuple:

a=(1,"mango0",23.4,"cherry")
print(a[2])

23.4

In [23]:
b=(10,20,30,400,500)
b.index(400)

3

$Slice$

In [20]:
my_tuple=(1,2,3.5,"apple",8,9)
slice_tuple=my_tuple[1:5]
print(slice_tuple)

(2, 3.5, 'apple', 8)

$Count$

In [27]:
my_tuple.count(3.5)

1

append(), insert(), remove(), pop(), reverse(), sort(),copy(), extend()
this all functions are not present in tuple.

Note: By using del operator we can't delet value of tuple object 
      By using indexing and slicing but we can delete etire object

my_tuple=(1,2,3.5,"apple",8,9)
del my_tuple[8]

$Sort$

sorted() built-in function can be used to sort any iterable, including tuples.

The sorted() function returns a new list containing the sorted elements of the iterable. The original tuple remains unchanged.

Syntax: list obj=sorted(tuple object)

In [30]:
tuple1=(1,2,3,4,56,80)
print(tuple1,type(tuple1))

(1, 2, 3, 4, 56, 80) <class 'tuple'>

In [31]:
b=sorted(tuple1)
print(b,type(b))

[1, 2, 3, 4, 56, 80] <class 'list'>

Loop in Tuple

In [33]:
# for loop

t1=(10,20,30,"apple")
for i in t1:
    print(i)

10
20
30
apple

In [34]:
for i in range(len(t1)):
    print(t1[i])

10
20
30
apple

In [36]:
# While loop

t1=('apple',2,4,5,'cherry')
i=0
while i<len(t1):
    print(t1[i])
    i+=1

apple
2
4
5
cherry